@{
    ViewData["Title"] = "Home Page";
}
<body class="gradient-custom">
    <div class="text-center">
        <img class="align-content-center"src="https://i.imgur.com/OltzTKO.png" alt="Image" style="width:300px; height:300px;" />
        <h1 class="display-4">Welcome to Heating Store</h1>
    </div>
</body>
