@{ ViewData["Title"] = "DeleteSuccess"; }

<h1>You successfully deleted a product</h1>
<div>
    <a asp-action="Create">Add a new product</a>
</div>

<div>
    <a asp-action="Index">Back to the list</a>
</div>