@{ ViewData["Title"] = "DeleteSuccess"; }

<h1>You successfully deleted a product</h1>
<div>
    <a asp-action="Create" class="btn1">Add a new product</a>
</div>

<div>
    <a asp-action="Index" class="btn1">Back to the list</a>
</div>