@page
@model LoginModel

<div class="login-container">
    <div class="login-header">
        <h3><strong><font color="black">Log in to your account</font></strong></h3>
    </div>
    <div class="login-body">
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
        <div class="register-link">
            <p>New user? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a></p>
        </div>
    </div>
</div>
<style>
    .login-container {
        background-color: #fff;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.3);
        width: 400px;
        margin: auto;
        margin-top: 50px;
    }

    .login-header {
        padding: 10px;
        border-radius: 20px 20px 0 0;
        text-align: center;
        color: #fff;
    }

    .login-body {
        padding: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
